* {
  outline: none!important;
  border: none;
  font-family: 'Yanone Kaffeesatz';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Stylish'!important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  min-height: 100vh;
  background-color: #2D2D2D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  display: none;
}