# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-character string of characters, e.g. 'oj2130sdjk120asdim2u2'
JWT_SECRET=hwu1pq8ue7k51aa7um2u2

# MongoDB settings
DB_HOST=localhost
DB_DATABASE=magictactics

# Server settings
PORT=8000
API_URL=http://localhost:8000
CLIENT_URL=http://localhost:3000
MODE=development

# Mailgun settings
MG_HOST=
MG_USER=
MG_PASS=

# Other services

# PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

# Stripe API keys: use your test keys for development and live keys for real charges in production
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_API_VERSION=